Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  hicpp-*,
  modernize-*,
  readability-*,
  cert-*,
  portability-*,

  -bugprone-easily-swappable-parameters

WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  hicpp-*,
  modernize-*,
  readability-*,
  cert-*,
  portability-*

HeaderFilterRegex: '^/workspaces/poc-opcua-mqtt-bridge/bridge/'
FormatStyle: none
SystemHeaders: false
UseColor: true

CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: '0'
  - key: bugprone-macro-parentheses.IgnoreCommandLikeMacros
    value: '1'
  - key: cppcoreguidelines-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value: '1'
  - key: cppcoreguidelines-narrowing-conversions.WarnWithinTemplateInstantiation
    value: '0'
  - key: cppcoreguidelines-init-variables.StrictMode
    value: '0'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: '1'
  - key: readability-else-after-return.WarnOnUnfixable
    value: '0'
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 'true'